* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}

h1{
    font-size: 4rem;
}
.main-menu{
    position: fixed;
    top: 0;
    left: 0;   
    height: 100vh;
    width: 200px;
    background-color: #333;
    color:#fff; 
    transition: left .5s ease;
}

.hide{
    left: -200px;
}

.main-menu ul{
    list-style: none;
    margin: 0;
}

.main-menu li {
    margin: 0;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #444;
}

.main-menu li:last-child{
    border-bottom: none;
}

.main-menu a{
    text-decoration: none;
    color:#fff;
}
.container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 4rem;
    padding: 4rem;
    align-items: center;
}

.info{
    grid-column: 2 / 5;
}

.poster{
    width: 30rem;
}

.poster img {
    width: 100%;
}

.blur{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter:blur(2rem);
    opacity: 0.6;
    z-index: -1;
    /* background-image: url(./supra.png); */
}

button{
    padding: 20px;
    background-color: lightblue;
}